@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-primary {
    background: var(--primary-color);
  }
  .text-primary {
    color: var(--primary-color);
  }
  .border-primary {
    border-color: var(--primary-color);
  }
  .bg-secondary {
    background: var(--secondary-color);
  }

  .bg-tertiary {
    background: var(--tertiary-color);
  }
  .bg-quaternary {
    background-color: var(--quaternary-color);
  }
  .text-secondary {
    color: var(--secondary-color);
  }
  .border-secondary {
    border-color: var(--secondary-color);
  }
  .rounded-custom {
    border-radius: 12px;
  }
}
:root {
  --primary-color: #a0a4a8;
  --secondary-color: black;
  --tertiary-color: rgb(26, 26, 26);
  --quaternary-color: rgba(119, 119, 119, 0.717)
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  color: var(--primary-color);
}
body {
  background: var(--secondary-color);
}
::-webkit-scrollbar {
  width: 10px;
  background-color: var(--tertiary-color);
  padding: 20px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 10px;
}
